.mainPage{
  background-color: #fbb2b2;
  height: 100%;
  width: 100%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
}

.head {
  background-color: #2f28348b;
  width: 100%;
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 1vmin);
  color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 0 0 #282c34;
}

.head:hover{
  transform: scale(1.03);
  box-shadow: 0 0 15px #282c34;
}

/* List Part */
.listpart{
  display: block;
}

.navbar {
  border-radius: 15px;
  text-align: center;
  width: 80%;
  height: 60%;
  margin: 30px;
  margin-top: 90px;
  padding: 4px;
  display: block;
  position: relative;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 0 0 #282c34;
  outline: none;
}

.navbar:hover{
  background-color: #a8d1d1;
  transform: scale(1.03);
  box-shadow: 0 0 15px #282c34;
}

.navbar li{
  outline: none;
  list-style-type: none;
  border-radius: 30px;
  border: #282c34 1px solid;
  margin: 8px;
  padding: 2px;
  text-align: center;
  width: 50%;
  overflow: hidden;
}

/* INPUTS */
.inputs {
  align-items: center;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  height: 415px;
  margin:30px;
  padding: 4px;
  display: block;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 0 0 #282c34;
  outline: none;

}

.inputs select{
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 5px;
  outline: none;
  padding: 2px;
  border-radius: 20px;
max-height: 35px;
}

.inputs:hover {
  background-color: #a8d1d1;
  transform: scale(1.03);
  box-shadow: 0 0 15px #282c34;
}


.inputs input{
  text-align: center;
  outline: none;
  border-radius: 15px;
  margin-left: 80px;
  margin: 3px;
  padding: 5px;
  display: block;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 1px 1px 0 0 #282c34;
  outline: none;
}

.selectDiv{
  display: flex;
}

.inputs input:hover {
  background-color: #a8d1d1;
  transform: scale(1.03);
  box-shadow: 0 0 15px #282c34;
}

/* Button */
.addBtn {
  background-color: #87bcd2;
  border: #282c34 2px dashed;
  border-radius: 50px;
  padding: 15px;
  margin: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 2px #282c34;
  outline: none;
}

.addBtn:hover {
  background-color: #b2d7e7;
  transform: scale(1.07);
  box-shadow: 0 0 20px #282c34;
}

.deleteBtn {
  background-color: #fbb2b2;
  border-radius: 50px;
  padding: 10px;
  margin: 7px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 2px #282c34;

}

.deleteBtn:hover {
  background-color: #FFCBCB;
  transform: scale(1.07);
  box-shadow: 0 0 10px #282c34;
}

.updateBtn {
  background-color: #C9E4DE;
  border-radius: 50px;
  padding: 10px;
  margin: 7px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 2px #282c34;
}

.updateBtn:hover {
  background-color: #F8F3E8;
  transform: scale(1.07);
  box-shadow: 0 0 10px #282c34;
}

.favBtn {
  padding-top: 10px;
  border: #282c3400;
  background-color: rgba(40, 44, 52, 0);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.favBtn:hover {
  transform: scale(1.9);
}

.deleteFavBtn {
  padding-top: 10px;
  border: #282c3400;
  background-color: rgba(40, 44, 52, 0);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.deleteFavBtn:hover {
  transform: scale(1.9);
}

/* list */
.list img{
  width: 260px;
  height: 250px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: #282c34 1px 1px 0 0;
}
.list ul {
  max-width: 5000px;
  min-width: 1000px;
  border: #282c34 2px 0px 0px 1px solid;
  padding: 3px;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

.list li {
  background-color: #E4F1EE;
  width: 30%;
  width: 30%;
  border-radius: 50px;
  border: #282c34 2px 0px 0px 1px solid;
  padding: 3px;
  margin: 10px;
  list-style-type: none;
  text-align: center;
  transition: transform 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
  box-shadow: 0 0 2px #282c34;
  display:inline-block;
  overflow: hidden;
}

.list li:hover {
  background-color: #cce0db;
  transform: scale(1.02);
  box-shadow: 0 0 10px #282c34;
}

@keyframes App-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}